<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-app="myProfessorsApp" ng-controller="mainCtrl" ng-init="init()">
    <main>
        <nav class="grey darken-3">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">My Professors</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <form>
                <div class="row">
                    <div class="input-field col s12 m8 offset-m2">
                        <select class="browser-default" id="departmentMenu" ng-model="department" ng-change="find()" autofocus>
                            <option value="" disabled selected>Choose your option</option>
                        </select>
                        <!-- <label>Materialize Select</label> -->
                    </div>
                </div>
            </form>
            <ul class="collapsible popout" data-collapsible="accordion" ng-cloak>
                <li ng-repeat="professor in professors">
                    <div class="collapsible-header">
                        {{professor.lastName}}, {{professor.firstName}}
                        <i class="material-icons right" ng-show="professor.inOffice">location_on</i>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="container">
                                <div class="row flex">
                                    <div class="col s10 l6 flex-item">
                                        <table class="highlight">
                                            <tr>
                                                <td><a href="tel:{{professor.phone}}"><i class="material-icons valign">phone</i></a></td>
                                                <td><a href="tel:{{professor.phone}}">{{professor.phone}}</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="mailto:{{professor.email}}"><i class="material-icons valign">email</i></a></td>
                                                <td><a href="mailto:{{professor.email}}">{{professor.email}}</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col s12 l6 flex-item">
                                        <table class="highlight">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Times And Locations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="office in professor.offices track by $index">
                                                    <td ng-show="professor.days[$index]">{{professor.days[$index]}}</td>
                                                    <td ng-show="professor.startHours[$index] && professor.endHours[$index]">{{professor.startHours[$index]}} - {{professor.endHours[$index]}}</td>
                                                    <td ng-show="office">{{office == "same" ? professor.offices[$index - 1] : office}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row " ng-show="professor.note ">
                                        <div class="col s12 l10 offset-l1 ">
                                            <p class="center-align ">{{professor.note}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        <!-- </div> -->
    </main>
    <footer class="page-footer grey darken-3 ">
        <div class="container ">
            <div class="row ">
                <div class="col l6 s12 ">
                    <h5 class="white-text ">Want to help?</h5>
                    <p class="grey-text text-lighten-4 ">You Can! Just send us an email with schedule information for the professors you want to see.</p>
                </div>
                <div class="col l4 offset-l2 s12 ">
                    <h5 class="white-text ">Mobile App Download Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3 " href="# ">Android</a></li>
                        <li><a class="grey-text text-lighten-3 " href="# ">iOS App</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright ">
            <div class="container ">
                <a class="grey-text left " href=" ">&copy; 2016 Hexmodo</a>
                <a class="grey-text right " href=" ">Check out other projects by Hexmodo</a>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script src="vendor/date.js "></script>
    <script type="text/javascript " src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script type="text/javascript " src="js/materialize.min.js "></script>
    <script src="vendor/parse-1.6.14.min.js "></script>
    <script src="vendor/angular.js "></script>
    <script src="vendor/angularparse.js "></script>
    <script src="js/app.js "></script>
</body>

</html>
